body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 205, 205);
    margin: 0;
    padding: 0;
}

h1, h2{
    color: #ff1563;
    text-align: center;
    margin-top: 20px;
}

strong{
    color: #ff1563;
    margin-bottom: 28px;
    display: inline-block;
    font-size: 25px;
}
section.albums-liste{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}
ul{
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
li{
    background-color: #ffffff;
    border: 2px solid #ff1563;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 180px;
}

#voirlesphotos{
    margin-bottom: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff1563;
    border-radius: 10px;
    font-weight: normal;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    padding: 0 35px;
    margin: 0 auto;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav{
    background: #ff1563;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

input{
    background-color: #ffffff;
    border: 2px solid #ff1563;
    border-radius: 10px;
    width: 180px;
    height: 29px;
}
.bouton{
    background-color: #ff1563;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    padding: 6px 15px;
    margin-left: 10px;
}

.deroule{
    background-color: #ffffff;
    border: 2px solid #ff1563;
    border-radius: 10px;
    padding: 6px;
    width: 180px;
    height: 35px;
    font-size: 13px;
    appearance: none; /* Supprime le style par défaut du navigateur */
    -webkit-appearance: none; /* Pour Safari */
    -moz-appearance: none; /* Pour Firefox */
    cursor: pointer; /* Change le curseur au survol */
}

img{
    width: 350px;
    height: 230px;
    border-radius: 10px;
    margin: 15px;
}